## Name - SUhani Gahukar
## PRN - 22070521084

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('expanded_car_sales_data.csv')

In [4]:
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [5]:
df.isnull().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [6]:
df.loc[:, 'Make'] = df['Make'].fillna('Unknown')
df.loc[:, 'Colour'] = df['Colour'].fillna('Unknown')

In [8]:
df['Price'] = df['Price'].replace(r'[\$,]', '', regex=True).astype(float)

In [9]:
df['Odometer'] = df['Odometer'].fillna(df['Odometer'].mean())
df['Doors'] = df['Doors'].fillna(df['Doors'].median())
df['Price'] = df['Price'].fillna(df['Price'].mean())

In [10]:
print(df.isnull().sum())

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [11]:
df.isnull().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64