In [10]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Age': [25, 30, 35, 40, 22, 29],
    'Country': ['USA', 'UK', 'USA', 'India', 'Canada', 'UK'],
    'Sales': [200, 450, 300, 800, 150, 400]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   ID     Name  Age Country  Sales
0   1    Alice   25     USA    200
1   2      Bob   30      UK    450
2   3  Charlie   35     USA    300
3   4    David   40   India    800
4   5      Eve   22  Canada    150
5   6    Frank   29      UK    400

In [11]:
# 1. Transform text data (Convert Name to uppercase)
df['Name'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):\n", df)

Character Map (Uppercase Names):
    ID     Name  Age Country  Sales
0   1    ALICE   25     USA    200
1   2      BOB   30      UK    450
2   3  CHARLIE   35     USA    300
3   4    DAVID   40   India    800
4   5      EVE   22  Canada    150
5   6    FRANK   29      UK    400

In [13]:
# 2. Multicast (Create copies for parallel transformations)
df_sales_increased = df.copy()
df_age_increased = df.copy()
print("Multicast Transformation - Two copies created")

Multicast Transformation - Two copies created

In [14]:
# 3. Conditional Split (Sales > 300)
high_sales_df = df[df['Sales'] > 300]
print("Conditional Split Transformation:\n", high_sales_df)

Conditional Split Transformation:
    ID   Name  Age Country  Sales
1   2    BOB   30      UK    450
3   4  DAVID   40   India    800
5   6  FRANK   29      UK    400

In [15]:
# 4. Aggregation (Total Sales by Country)
agg_sales = df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregation Transformation:\n", agg_sales)

Aggregation Transformation:
   Country  Sales
0  Canada    150
1   India    800
2      UK    850
3     USA    500

In [16]:
# 5. Sort (Descending Order by Sales)
sorted_df = df.sort_values(by='Sales', ascending=False)
print("\nSort Transformation:\n", sorted_df)

Sort Transformation:
    ID     Name  Age Country  Sales
3   4    DAVID   40   India    800
1   2      BOB   30      UK    450
5   6    FRANK   29      UK    400
2   3  CHARLIE   35     USA    300
0   1    ALICE   25     USA    200
4   5      EVE   22  Canada    150

In [17]:
# 6. Derived Column (Categorize Sales)
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x > 300 else 'Low')
print("\nDerived Column Transformation:\n", df)

Derived Column Transformation:
    ID     Name  Age Country  Sales Sales_Category
0   1    ALICE   25     USA    200            Low
1   2      BOB   30      UK    450           High
2   3  CHARLIE   35     USA    300            Low
3   4    DAVID   40   India    800           High
4   5      EVE   22  Canada    150            Low
5   6    FRANK   29      UK    400           High